# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history

# Environments
.env
.venv/
venv/
env/

# Logs and databases
*.log
*.pot
*.bak

# Testing and coverage
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/